.game-container {
  width: 80vh;
  height: 80vh;
  display: grid;
  grid-template-columns: repeat(8, calc(100%/8 - 2px));
  grid-template-rows: repeat(8, calc(100%/8 - 2px));
  gap: 2px;
  border: 1px solid black;
  li {
    width: 100%;
    height: 100%;
    display: flex;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
  }
  .hidden {
    background-image: linear-gradient(to bottom right, $mainLight, $mainDark);
    border: 3px solid $black;
  }
  .unhidden {
    background-color: $mainLight;
  }
  .flag {
    position: relative;
    &::before{
      font-family: $fontAwe;
      content: '\f024';
      position: absolute;
      @include posaCenter;
    }
  }
  .bomb {
    background-color: $black;
  }
}