html {
  font-size: 125%;
}

ul,
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.wrapper {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  @include mqTablet {
    position: relative;
    display: flex;
    height: 90vh;
  }
}

body {
  width: 100%;
  @include flexCenter;
  font-family: 'karla', sans-serif;
  background-color: $white;
  color: $black;
  @include mqTablet {
    flex-direction: row;
    main {
      order: -1;
    }
  }
}

h1,
h2,
p {
  margin: 0;
}

h1,
h2 {
  color: $mainLight;
}

h1,
h2,
.game-container,
.countdown {
  font-family: 'ribeye', serif;
}

button {
  border: none;
  background: none;
  font-size: 2rem;
  color: $popColor;
  margin: 0 auto;
}