header {
  width: 100%;
  height: 100vh;
  padding: 2%;
  padding-bottom: 10%;
  @include flexCenter;
  text-align: center;
  justify-content: space-around;
  h1 {
    font-size: 1.5rem;
  }
  h2 {
    font-size: 1.2rem;
  }
  a {
    color: $popColor;
  }
  i {
    font-size: 2rem;
    padding-top: 5%;
  }
  .hint {
    font-size: .8rem;
    margin: 0;
  }
  @include mqTablet {
    padding-top: 10%;
    padding-bottom: 0;
    height: 100%;
    text-align: left;
    align-items: flex-start;
    button {
      display: none;
    }
    .title {
      position: absolute;
      top: 2%;
      left: 0;
      right: 0;
      text-align: center;
    }
  }
}