$black: #261d1a;
$white: #fffaf5;
$mainDark: #4c5454;
$mainLight: #ff715b;
$popColor: #1ea896;

@mixin posaCenter {
  text-align: center;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

@mixin flexCenter {
  display: flex;
  align-items: center;
  flex-direction: column;
}

@mixin mqTablet {
  @media (min-width: 800px) {
    @content;
  }
}

@mixin mqDesktop {
  @media (min-width: 900) {
    @content;
  }
}