@charset "UTF-8";
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201C \201D \2018 \2019;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

html {
  font-size: 125%;
}

ul,
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.wrapper {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

@media (min-width: 800px) {
  .wrapper {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 90vh;
  }
}

body {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: 'karla', sans-serif;
  background-color: #fffaf5;
  color: #261d1a;
}

@media (min-width: 800px) {
  body {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  body main {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
}

h1,
h2,
p {
  margin: 0;
}

h1,
h2 {
  color: #ff715b;
}

h1,
h2,
.game-container,
.countdown {
  font-family: 'ribeye', serif;
}

button {
  border: none;
  background: none;
  font-size: 2rem;
  color: #1ea896;
  margin: 0 auto;
}

header {
  width: 100%;
  height: 100vh;
  padding: 2%;
  padding-bottom: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

header h1 {
  font-size: 1.5rem;
}

header h2 {
  font-size: 1.2rem;
}

header a {
  color: #1ea896;
}

header i {
  font-size: 2rem;
  padding-top: 5%;
}

header .hint {
  font-size: .8rem;
  margin: 0;
}

@media (min-width: 800px) {
  header {
    padding: 15% 0 0 0;
    height: 100%;
    text-align: left;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  header button {
    display: none;
  }
  header .title {
    position: absolute;
    top: 2%;
    left: 0;
    right: 0;
    text-align: center;
  }
}

main {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

main > button {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

main > button:hover, main > button:focus {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

@media (min-width: 800px) {
  main {
    padding-top: 10%;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  main > h2 {
    display: none;
  }
  main > button {
    margin: 0 0 0 170px;
  }
}

.countdown {
  color: #1ea896;
}

.gameContainer {
  width: 90%;
  max-width: 400px;
  height: 90vw;
  max-height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.gameContainer ul {
  width: calc(100% / 8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.gameContainer li {
  width: 95%;
  height: calc(95% / 8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.gameContainer li button {
  background: none;
  border: none;
  font-size: 1rem;
}

.gameContainer li button:hover, .gameContainer li button:focus {
  font-size: 1.2rem;
}

.gameContainer .flag,
.gameContainer .hidden {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#ff715b), to(#4c5454));
  background-image: linear-gradient(to bottom right, #ff715b, #4c5454);
  border: 1px solid #261d1a;
}

.gameContainer .flag::before {
  content: '😻';
  font-size: 1rem;
  text-align: center;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
}

.gameContainer .unhidden {
  background-color: #ff715b;
}

.gameEnd {
  border: 1px solid #261d1a;
  border-radius: 10px;
  position: absolute;
  top: 5%;
  right: 5%;
  bottom: 5%;
  left: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
  background-color: #4c5454;
  color: #fffaf5;
  padding: 5%;
}

.gameEnd h2 {
  color: #1ea896;
}

.gameEnd::before {
  content: '✖';
  font-size: 2rem;
  position: absolute;
  top: 0;
  right: 10px;
}
